<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- <link rel="stylesheet" href="estilo.css"> -->
   
</head>
<body>
    <div class="text-center">
        <!-- <h1 class="display-4">CALCULADORA</h1> -->
        <br /><br />  <br />    
     <table>
         <tr>
            <td  colspan="4"><input id="resultado2" class="cajat1" type="text"></td>
         </tr>
         <tr>
             <td colspan="4"><input id="resultado" class="cajat" type="text"></td>
         </tr>
         
         <tr>
              <td><button onclick="porcentaje()" class="boton" type="button"><strong>%</strong></button></td>
              <td><button onclick="borrarce()" class="boton" type="button"><strong>CE</strong></button></td>
              <td><button onclick="borrarc()" class="boton" type="button"><strong>C</strong></button></td>
              <td><button onclick="borraruno()" class="boton" type="button"><strong>⌫</strong></button></td>
         </tr>
         <tr>
              <td><button onclick="unopor()" class="boton" type="button"><strong>1/X</strong></button></td>
              <td><button onclick="pordos()" class="boton" type="button"><strong>X2</strong></button></td>
              <td><button onclick="raiz()" class="boton" type="button"><strong>SQRT</strong></button></td>
              <td><button onclick="division()" class="boton" type="button"><strong>/</strong></button></td>
         </tr>
         <tr>
              <td><button onclick="siete()" class="boton" type="button"><strong>7</strong></button></td>
              <td><button onclick="ocho()" class="boton" type="button"><strong>8</strong></button></td>
              <td><button onclick="nueve()" class="boton" type="button"><strong>9</strong></button></td>
              <td><button onclick="multiplicacion()" class="boton" type="button"><strong>X</strong></button></td>
         </tr>
         <tr>
              <td><button onclick="cuatro()" class="boton" type="button"><strong>4</strong></button></td>
              <td><button onclick="cinco()" class="boton" type="button"><strong>5</strong></button></td>
              <td><button onclick="seis()" class="boton" type="button"><strong>6</strong></button></td>
              <td><button onclick="menos()" class="boton" type="button"><strong>-</strong></button></td>
         </tr>
          <tr>
              <td><button  onclick="uno()" class="boton" type="button"><strong>1</strong></button></td>
              <td><button  onclick="dos()" class="boton" type="button"><strong>2</strong></button></td>
              <td><button  onclick="tres()" class="boton" type="button"><strong>3</strong></button></td>
              <td><button  onclick="suma()" class="boton" type="button"><strong>+</strong></button></td>
         </tr>
          <tr>
              <td><button onclick="sumaresta()" class="boton" type="button"><strong>+/-</strong></button></td>
              <td><button onclick="cero()" class="boton" type="button"><strong>0</strong></button></td>
              <td><button onclick="decimal()" class="boton" type="button"><strong>.</strong></button></td>
              <td><button onclick="igual()" class="boton" type="button"><strong>=</strong></button></td>
         </tr>
    
     </table>
    </div>
</body>
</html>